<h1>Contact us</h1>

<% content_for :meta do %>
  <meta name="description" content="Complete list of sections and pages within Gamesunset.com">
<% end %>

<%= form_for @page, url: static_pages_contact_path do |f| %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_area :email %>
  </p>

  <%= f.submit 'Send message' %>

<% end %>