<% @title = "Welcome" %>

<% content_for :meta do %>
  <meta name="description" content="Your number 1 source for video game information.">
  <meta name="google-site-verification" content="U9cA3-RSlErlfNyilA4rU-pEYD3EJZTtm14Pt9-eLIo" />
<% end %>

<h3>Welcome to GameSunset</h3>

<div id="myCarousel" class="carousel slide">
  
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
  </ol>
  
  <div class="carousel-inner">
    <div class="item active">
      <%= link_to image_tag(image_path("#{@title}/GameSunset1.jpg")), games_path %>
    </div>

    <div class="item">
      <%= link_to image_tag(image_path("#{@title}/GameSunset2.jpg")), games_path %>
    </div>
    
    <div class="item">
      <%= link_to image_tag(image_path("#{@title}/GameSunset3.jpg")), games_path %>
    </div>
    
    <div class="item">
      <%= link_to image_tag(image_path("#{@title}/GameSunset4.jpg")), games_path %>
    </div>
    
    <div class="item">
      <%= link_to image_tag(image_path("#{@title}/GameSunset5.jpg")), games_path %>
    </div> 
         
    <div class="item">
      <%= link_to image_tag(image_path("#{@title}/GameSunset6.jpg")), games_path %>
    </div>
    
    <div class="item">
      <%= link_to image_tag(image_path("#{@title}/GameSunset7.jpg")), games_path %>
    </div>
    
    <div class="item">
      <%= link_to image_tag(image_path("#{@title}/GameSunset8.jpg")), games_path %>
    </div>
    
    <div class="item">
      <%= link_to image_tag(image_path("#{@title}/GameSunset9.jpg")), games_path %>
    </div>
    
  </div>
  
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  
</div>

<p class = 'center'><em>Your #1 source for video game information</em></p>