<h2>Log-in</h2>
<div class = "center">
	
  <%= form_for(:session, url: sessions_path) do |f| %>
	
  <p>
    <%= f.label :name, 'Username', class: 'marker' %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :password, class: 'marker' %>
    <%= f.text_field :password %>
  </p>

  <p>
    <%= f.label :remember, 'Remember Me', class: 'checkbox inline' %>
    <%= f.check_box "Remember", value: "Remember" %>
  </p>
	
  <p>
    <%= f.submit "Login", class: 'submit' %>
  </p>
	
  <p>Don't have an account?</p>
	
  <%= link_to 'Sign Up', signup_path, class: 'submit' %>

  <% end %>
	
</div>