<% @title = "Edit Article" %>

<h3>Edit Article</h3>

<div class = 'center'>
  
  <%= form_for @article do |f| %>
	<p>
      <%= f.label :title, class: 'marker' %>
      <%= f.text_field :title %>
    </p>
	
	<p>
      <%= f.label :date, class: 'marker' %>
	  <%= f.text_field :date %>
	</p>
  
	<p>
      <%= f.label :body, class: 'marker' %>
	  <%= f.text_area :body, :class => "tinymce", :rows => "15" %>
	  <%= tinymce %>
	</p>
	
	  
	<p>
      <%= f.submit 'Edit', :class => 'btn btn-info' %>
    </p>
	  
  <% end %>
  
  <%= link_to 'Return', articles_path, :class => 'btn btn-info' %>
	
</div>