<% @title = "GameSunset - Video Game Articles and News" %>

<% content_for :meta do %>
  <meta name="description" content="GameSunset - Video Game Articles and News">
<% end %>

<h1><span class = 'logo-one'>Game</span><span class = 'logo-two'>Sunset</span></h1>

  <ul class = 'articles-list'>
   
    <% @article.each do |article| %>
	
      <li class = 'article-title'><%= link_to "#{article.title}", article %></li>
	  <li class = 'article-date'><em><%= article.date %></em></li>
	  <li><%= simple_format (article.body.split('.').first + '.' + link_to(" Read More", article, :id => "article-link")) %></li>
	  
	  <% if signed_in? && current_user.admin? %>

	    <li class = "list-actions"><%= link_to 'Edit', edit_article_path(article)%></li>
	    <li class = "list-actions"><%= link_to 'Delete', article, method: :delete%></li>
	  
	  <% end %>

    <% end %>
	
  </ul>

<% if signed_in? && current_user.admin? %>

  <div class = 'center'>
    <%= link_to 'New Article', new_article_path, :class => 'btn btn-info' %>
  </div>
  
<% end %>