<% @title = "New Article" %>

<h3>New Article</h3>

<div class = 'center'>

  <%= form_for @article, :html => { :multipart => true } do |f| %>
    <p>
      <%= f.label :title, class: 'marker' %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :date, class: 'marker' %>
      <%= f.text_field :date %>
    </p>

    <p>
      <%= f.label :avatar, class: 'marker' %>
      <%= f.file_field :avatar %>
    </p>

    <p>
      <%= f.label :body, class: 'marker' %>
      <%= f.text_area :body, :class => "tinymce", :rows => "15" :cols => "30" %>
      <%= tinymce %>
    </p>

    <p>
      <%= f.submit 'Submit', :class => 'btn btn-success' %>
    </p>

  <% end %>

  <%= link_to 'Return', articles_path, :class => 'btn btn-info' %>

</div>