<% @title = "#{@user.name}" %>

<h3>User Profile</h3>

<div class = 'profile-box'>
  
  <%= gravatar_for @user %>

  <p class = 'center'><em><%= "#{@user.name}'s avatar" %></em></p>
  <p id = 'profile-heading'><%= "#{@user.name} Statistics" %>

  <ul id = 'user-profile'>
  
    <li>
      <strong>Username:</strong> <%= @user.name %>
    </li>
  
    <li>
      <strong>Email:</strong> <%= @user.email %>
    </li>
  
    <li>
      <strong>Age:</strong> <%= user_age %>
    </li>
	
	<li>
      <strong>Birthday:</strong> <%= @user.birthday %>
    </li>
  
    <li>  
      <strong>Location:</strong> <%= @user.location %>
    </li><br>
  
    <li>
      <strong>Join Date:</strong> <%= @user.created_at.to_date %>
    </li>
  
    <li>
      <strong>Member For:</strong> <%= pluralize(member_for, 'Day') %>
    </li></br>
  
    <li>
      <strong>Favorite Games:</strong> <%= @user.games.count %>
    </li>
  
  </ul>

  <p class = 'center'>
    <%= link_to 'Favorites', favorites_path(current_user), :class => "btn btn-info" %>
  </p>
  
</div>