<% @title = "#{@user.name}" %>

<h3>User Profile</h3>

<div class = 'profile-box'>
  
  <%= gravatar_for @user %>

  <p class = 'text-center'><em><%= "#{@user.name}'s avatar" %></em></p>
  <p id = 'profile-heading'><%= "#{@user.name} Statistics" %>

  <ul class="margin-auto" id = "user-profile">
  
    <li>
      <b>Username:</b> <%= @user.name %>
    </li>
  
    <li>
      <b>Email:</b> <%= @user.email %>
    </li>
  
    <li>
      <b>Age:</b> <%= user_age %>
    </li>
	
	<li>
      <b>Birthday:</b> <%= @user.birthday %>
    </li>
  
    <li>  
      <b>Location:</b> <%= @user.location %>
    </li><br>
  
    <li>
      <b>Join Date:</b> <%= @user.created_at.to_date %>
    </li>
  
    <li>
      <b>Member For:</b> <%= pluralize(member_for, 'Day') %>
    </li></br>
  
    <li>
      <b>Favorite Games:</b> <%= @user.games.count %>
    </li>
  
  </ul>

  <p class = 'text-center'>
    <%= link_to 'Favorites', favorites_path(current_user), :class => "btn btn-info" %>
  </p>
  
</div>