      <p>
        <%= f.label :title, class: 'marker' %>
        <%= f.text_field :title %>
      </p>
  
      <p>
        <%= f.label :console, class: 'marker' %>
        <%= f.text_field :console %>
      </p>
  
      <p>
        <%= f.label :genre, class: 'marker' %>
        <%= f.text_field :genre %>
      </p>
  
      <p>
        <%= f.label :release_date, 'Release Date', class: 'marker' %>
        <%= f.text_field :release_date %>
      </p>