<% @title = "Action" %>

<h3>Action Games</h3>

<%= render :partial => "carousel" %>

<h4>Top Rated Games</h4>

<table class = "console-table">

  <%= render :partial => "genre_table_head" %>
  <%= render :partial => "index_table_body" %>
  
</table>

<table class = "console-table">
  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_updates" %>
</table>

<h4>Upcoming Games</h4>

<table class = "console-table">
  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_upcoming" %>
</table>

<div class = 'center'>
  <%= link_to 'Action Games', action_games_path, :class => 'btn btn-info' %>
</div>

</br>

<div class = 'center'>
  <p>
    <%= link_to 'Genres', genres_path, :class => 'btn btn-warning' %>
  </p>
</div>