<% @title = "Adventure" %>

<% content_for :meta do %>
  <meta name="description" content="Adventure Games">
<% end %>

<h3>Adventure Games</h3>

<%= render :partial => "pagination_genre_header" %>
<%= will_paginate (@g) %>

<table class = "console-table margin-auto">

  <%= render :partial => "genre_table_head" %>
  <%= render :partial => "genre_table_body" %>
  
</table>

<%= will_paginate (@g) %>

<div class = 'center'>
  <p>We found <%= pluralize(Game.where(genre: 'Adventure').count, 'Adventure game') %></p>
  <p>
    <%= link_to 'Back', adventure_path, :class => "btn btn-warning btn-lg active" %>
  </p>
</div>