<% @title = "Atari" %>

<h3>Atari Games</h3>

<%= render :partial => "carousel" %>

<h4>Top Rated Games</h4>

<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_table_body" %>
  
</table>

<div class = 'center'>
  <%= link_to 'All Games', atari_games_path, :class => 'btn btn-info' %>
</div>

</br>

<div class = 'center'>
  <p>
    <%= link_to 'Consoles', consoles_path, :class => 'btn btn-warning btn-lg active' %>
  </p>
</div>