<% @title = "Dreamcast Games" %>

<% content_for :meta do %>
  <meta name="description" content="Dreamcast Games">
<% end %>

<h3>All Dreamcast Games</h3>

<%= render :partial => "pagination_console_header" %>
<%= will_paginate (@g) %>

<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "new_table_body" %>
  
</table>

<%= will_paginate (@g) %>

<div class = 'center'>
  <p>We found <%= pluralize(Game.where(console: 'Dreamcast').count, 'Dreamcast game') %></p>
  <p>
    <%= link_to 'Dreamcast Home', dreamcast_path, :class => 'btn btn-info btn-lg active' %>
  </p>
</div>