<% @title = "Dreamcast" %>

<% content_for :meta do %>
  <meta name="description" content="Top Rated Dreamcast Games">
<% end %>

<h3>Dreamcast Games</h3>

<%= render :partial => "carousel" %>

<p class = 'console-description'> The Sega Dreamcast is the successor to the Sega Saturn and part of the Sixth Generation of Video Game Consoles. Released in
America on September 9, 1999, this system sold almost 11 million units worldwide. It was abruptly discontinued in 2001, though games are still being released
for this console. Following the failure of the Dreamcast, Sega changed its business model from being a console developer to a Third Party Developer.</p>
  
<h4>Top Rated Games</h4>
  
<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_table_body" %>
  
</table>

<div class = 'center'>
  <%= link_to 'All Games', dreamcast_games_path, :class => 'btn btn-info' %>
</div>

</br>

<div class = 'center'>
  <p>
    <%= link_to 'Consoles', consoles_path, :class => 'btn btn-warning btn-lg active' %>
  </p>
</div>