<% @title = "Fighting" %>

<% content_for :meta do %>
  <meta name="description" content="Fighting Games">
<% end %>

<h3>Fighting Games</h3>

<%= render :partial => "pagination_genre_header" %>
<%= will_paginate (@g) %>

<table class = "console-table">

  <%= render :partial => "genre_table_head" %>
  <%= render :partial => "genre_table_body" %>
  
</table>

<%= will_paginate (@g) %>

<div class = 'center'>
  <p>We found <%= pluralize(Game.where(genre: 'Fighting').count, 'Fighting game') %></p>
  <p>
    <%= link_to 'Back', action_path, :class => "btn btn-warning btn-lg active" %>
  </p>
</div>