<% @title = "Fighting" %>

<h3>Fighting Games</h3>

<%= render :partial => "carousel" %>

<table class = "console-table">

  <%= render :partial => "genre_table_head" %>
  <%= render :partial => "index_table_body" %>
  
</table>


<div class = 'center'>
  <%= link_to 'Fighting Games', fighting_games_path, :class => 'btn btn-info' %>
</div>

</br>

<div class = 'center'>
  <p>
    <%= link_to 'Genres', genres_path, :class => 'btn btn-warning' %>
  </p>
</div>