<% @title = "First Person Shooter" %>

<% content_for :meta do %>
  <meta name="description" content="First Person Shooter Games">
<% end %>

<h3>First Person Shooter Games</h3>

<%= render :partial => "pagination_genre_header" %>
<%= will_paginate (@g) %>

<table class = "console-table margin-auto">

  <%= render :partial => "genre_table_head" %>
  <%= render :partial => "genre_table_body" %>
  
</table>

<%= will_paginate (@g) %>

<div class = 'center'>
  <p>We found <%= pluralize(Game.where(genre: 'First Person Shooter').count, 'First Person Shooter game') %></p>
  <p>
    <%= link_to 'Back', first_person_shooter_path, :class => "btn btn-warning btn-lg active" %>
  </p>
</div>