<% @title = "Top Rated Games" %>

<% content_for :meta do %>
  <meta name="description" content="The Highest Rated Video Games of All Time!">
<% end %>

<h1 class = 'center'> Top Rated Games</h1>

<table class = "ratings-table margin-auto">

  <thead>
    <tr>
	  <th id = 'title-id'>Title</th>
	  <th class = 'game-attributes'>Console</th>
	  <th>Rating</th>
    </tr>
  </thead>
  
  <tbody>
  
    <% Game.where("rating >= 4.5").order(rating: :desc, title: :asc).each do |game|  %>
	<tr>
	  <td><%= link_to "#{game.title}", game %></td>
	  <td><%= game.console %></td>
	  <td><%= game.rating %></td>
	</tr>
	<% end %>
  </tbody>
  
</table>

<div class = "center-text">
  <p> A <strong>high rated game</strong> is a game with a star rating of 4.5 or higher. These games are very well received and appear in many video game rankings
  lists. They represent less than 10% of all games listed here.<p>
  <p> The above table shows all high rated games. Currently, there are
  <%= "#{Game.where("rating >= 4.5").count}" %> such games.</p>
  <p> To find out which consoles have the most high rated games, please consult the table below.</p>
</div>

<p class = "text-center bold"><strong>Top Consoles</strong></p>

<table class = "ratings-table margin-auto">

  <thead>
    <tr>
	  <th class = 'game-attributes'>Console</th>
	  <th>Games</th>
    </tr>
  </thead>
  
  <tbody>
    <% Game.where('rating >= 4.5').group('console').count.sort_by{|k,v|v}.reverse.each do |game|  %>
	<tr>
	  <td><%= game[0] %></td>
	  <td><%= game[1] %></td>
	</tr>
	<% end %>
  </tbody>
  
</table>


<p class = 'text-center'>
  <a href="/users/:id/favorites" class="btn btn-primary btn-lg active" role="button">Favorites <img height = '25px' width = '25px' src="http://www.fancyicons.com/download/?id=3343&t=png&s=256"></a>
</p>

<p class = 'text-center'>
  <a href="/games" class="btn btn-primary btn-lg active" role="button">Home</a>
</p>