<% @title = "Games" %>

<h1>Games Database</h1>

<p class = 'center'>An online video games database</p>

<p class = 'center'><strong>Select a Console</strong></p>

<%= form_tag games_path, method: 'get', id: 'console-select' do %>

  
  <% @all_consoles.each do |console| %>

    <div id = 'console-filter'>
      <%= "#{console}" %>
      <%= check_box_tag "Console[#{console}]", 1 %>
    </div>
    
  <% end %>

  <input class="btn btn-primary" type="submit" value="Refresh">

<% end %>

<table>
  
  <thead>
    <tr>
      <th id = 'title_id'><%= sortable "title" %></th>
      <th id = 'console_id'><%= sortable "console" %></th>
      <th id = 'genre_id'><%= sortable "genre" %></th>
      <th id = 'release_id'><%= sortable :released_on, "Release Date" %></th>
    </tr>
  </thead>
  
  <tbody> 
    
    <% @games.each do |game| %>
    
    <tr class ="info">
      <td><%= game.title %></td>
      <td><%= game.console %></td>
      <td><%= game.genre %></td>
      <td><%= game.released_on %></td>
      
      <% if signed_in? %>
      
        <div>
          <td id = 'actions'><%= link_to 'Show', game, class: 'action' %></td>
          <td id = 'actions'><%= link_to 'Edit', edit_game_path(game), class: 'action' %></td>
          <td id = 'actions'><%= link_to 'Delete', game, method: :delete, class: 'action' %></td>
        </div>
        
      <% end %>
      
    </tr>
    
    <% end %>
    
  </tbody>
  
</table>

<% if signed_in? %>

  <p class = 'center'>
    <a href="/games/new" class="btn btn-primary btn-lg active" role="button">Add a new game</a>
  </p>
  
<% end %>