<% @title = "Games" %>

<h1><span class = 'logo-one'>Game</span><span class = 'logo-two'>Sunset</span></h1>

<p class = 'center'>Your #1 source for video game information</p>

<table class = 'games-table'>
  
  <thead id = 'head'>
    <tr>
      <th id = 'title-id'><%= sortable "title" %></th>
      <th class = 'game-attributes'><%= sortable "console" %></th>
      <th class = 'game-attributes'><%= sortable "genre" %></th>
      <th class = 'game-attributes'><%= sortable :release_date, "Release Date" %></th>
    </tr>
  </thead>
  
  <tbody> 
    
    <% Game.first(10).each do |game| %>
    
    <tr class ="info">
	
      <td><%= link_to "#{game.title}", game %></td>	  
      <td><%= game.console %></td>
      <td><%= game.genre %></td>
      <td><%= game.release_date %></td>
      
        <div>
          <td id = 'actions'><%= link_to 'Show', game, class: 'action' %></td>
		  
		  <% if signed_in? && current_user.admin? %>
		  
            <td id = 'actions'><%= link_to 'Edit', edit_game_path(game), class: 'action' %></td>
            <td id = 'actions'><%= link_to 'Delete', game, method: :delete, class: 'action' %></td>
        </div>
        
      <% end %>
      
    </tr>
    
    <% end %>
    
  </tbody>
  
</table>

<ul class = 'legend'>
  <li><strong>Title</strong>: The name of the game.</li>
  <li><strong>Console</strong>: An entertainment system designed for playing video games.</li>
  <li><strong>Genre</strong>: A way to categorize video games based on common elements.</li>
  <li><strong>Release Date</strong>: The date a game becomes available for purchase by customers.</li>
</ul>

  </br>
  
  <% if signed_in? && current_user.admin? %> 

  <p class = 'center'>
    <%= link_to "Add a new game", new_game_path, :class => "btn btn-primary btn-lg active" %>
  </p>
  
 
 <% else %>
  
  <p class = 'center'>This page only lists 10 games from our database. To view additional records, please click on one of the navigation links below.</p>

<% end %>
  
  <p class = 'center'><strong>Navigation</strong></p>
  
  <div class = 'bar'>
    <p class = 'center'>
      <%= link_to "Latest Updates", updated_path, :class => "btn btn-warning btn-lg active" %> 
	  <%= link_to "Top Games", top_rated_path, :class => "btn btn-warning btn-lg active" %>
	  <a href="/games/<%= Game.all.sample.id %>" class="btn btn-warning btn-lg active" role="button">Random Game</a>
	  <%= link_to "Consoles", consoles_path, :class => "btn btn-warning btn-lg active" %>
	  <%= link_to "Genres", genres_path, :class => "btn btn-warning btn-lg active" %>
    </p>
  </div>