<% @title = "IOS Games" %>

<% content_for :meta do %>
  <meta name="description" content="IOS Games">
<% end %>

<h3>All IOS Games</h3>

<%= render :partial => "pagination_console_header" %>
<%= will_paginate (@g) %>

<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "new_table_body" %>
  
</table>


<%= will_paginate (@g) %>

<div class = 'center'>
  <p>We found <%= pluralize(Game.where(console: 'IOS').count, 'IOS game') %></p>
  <p>
    <%= link_to 'IOS Home', ios_path, :class => 'btn btn-info btn-lg active' %>
  </p>
</div>