<% @title = "Misc Games" %>

<h3>Misc Games</h3>

<%= render :partial => "pagination_misc_header" %>
<%= will_paginate (@g) %>

<table class = "console-table margin-auto">

  <%= render :partial => "genre_table_head" %>
  <%= render :partial => "misc_table_body" %>
  
</table>

<%= will_paginate (@g) %>

<div class = 'center'>
  <p>We found <%= pluralize(Game.where(genre: ['Music', 'Party', 'Sandbox', 'Puzzle', 'Sim', 'MMORPG', 'Shoot-em-up', 'Tower Defense']).count, 'game') %></p>
  <p>
    <%= link_to 'Back', misc_path, :class => "btn btn-warning btn-lg active" %>
  </p>
</div>