<% @title = "Nintendo 64" %>

<% content_for :meta do %>
  <meta name="description" content="Top Rated Nintendo 64 Games">
<% end %>

<h3>Nintendo 64 Games</h3>

<%= render :partial => "carousel" %>

<p class = 'console-description'> The Nintendo 64 is Nintendo's Fifth Generation Video Game Console. Following it's predecessors the NES and Super Nintendo,
it is the third Nintendo home video game console. It competed for market share with the Sega Dreamcast and Sony Playstation. It was released in the U.S. on
September 29, 1996. Since 2003, this console has no longer been sold in retail stores. The Nintendo 64 featured the most powerful console CPU of its generation
with the NEC VR4300.
</p>

<h4>Top Rated Games</h4>
  
<table class = "console-table margin-auto">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_table_body" %>
  
</table>

<p class = 'text-center'>
  <%= link_to 'All Games', n64_games_path, :class => 'btn btn-info' %>
</p>

</br>

<p class="text-center">
  <%= link_to 'Consoles', consoles_path, :class => 'btn btn-warning btn-lg active' %>
</p>