<% @title = "Nintendo 64 Games" %>

<% content_for :meta do %>
  <meta name="description" content="Nintendo 64 Games">
<% end %>

<h3>All Nintendo 64 Games</h3>

<%= render :partial => "pagination_console_header" %>
<%= will_paginate (@g) %>

<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "new_console_body" %>
  
</table>

<%= will_paginate (@g) %>

<div class = 'center'>
  <p>We found <%= pluralize(Game.where(console: 'Nintendo 64').count, 'N64 game') %></p>
  <p>
    <%= link_to 'N64 Home', n64_path, :class => 'btn btn-info btn-lg active' %>
  </p>
</div>