<% @title = "Playstation" %>

<% content_for :meta do %>
  <meta name="description" content="Top Rated Playstation Games">
<% end %>

<h3>Playstation Games</h3>

<%= render :partial => "carousel" %>

<p class = 'console-description'> The Sony Playstation is Sony's first video game console. The 32 bit console was released in the US on September 9th, 1995. It
was part of the fifth-generation of gaming and competed with the Nintendo 64 and Sega Dreamcast. It became the first console to reach over 100 million units in
sales. It was praised for the quality of its 3D graphics.</p>

<h4>Top Rated Games</h4>
  
<table class = "console-table margin-auto">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_table_body" %>
  
</table>

<p class = 'text-center'>
  <%= link_to 'All Games', ps_games_path, :class => 'btn btn-info' %>
</p>

</br>

<p class = 'text-center'>
  <%= link_to 'Consoles', consoles_path, :class => 'btn btn-warning btn-lg active' %>
</p>