<% @title = "Playstation 2" %>

<% content_for :meta do %>
  <meta name="description" content="Top Rated Playstation 2 Games">
<% end %>

<h3>Playstation 2 Games</h3>

<%= render :partial => "carousel" %>

<p class = 'console-description'> The Playstation 2 is the successor to the Playstation and was released on Ocober 26, 2000 in the US. As part of the sixth
generation of gaming, it competed with the Nintendo Gamecube and Microsoft Xbox. The Playstation 2 remains the best selling video game console in history, with
over 155 million units sold. Sales were finally discontinued on January 4th 2013, 13 years after its launch. It also features the largest games library of any
console with 3,870 titles.
</p>

<h4>Top Rated Games</h4>
  
<table class = "console-table margin-auto">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_table_body" %>
  
</table>

<p class = 'text-center'>
  <%= link_to 'All Games', ps2_games_path, :class => 'btn btn-info' %>
</p>

</br>

<p class = 'text-center'>
  <%= link_to 'Consoles', consoles_path, :class => 'btn btn-warning btn-lg active' %>
</p>