<% @title = "Playstation 2 Games" %>

<% content_for :meta do %>
  <meta name="description" content="Playstation 2 Games">
<% end %>

<h3>All Playstation 2 Games</h3>

<%= render :partial => "pagination_console_header" %>
<%= will_paginate (@g) %>

<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "new_console_body" %>
  
</table>

<%= will_paginate (@g) %>

<div class = 'center'>
  <p>We found <%= pluralize(Game.where(console: 'Playstation 2').count, 'Playstation 2 game') %></p>
  <p>
    <%= link_to 'Playstation 2 Home', ps2_path, :class => 'btn btn-info btn-lg active' %>
  </p>
</div>