<% @title = "Playstation 3" %>

<h3>Playstation 3 Games</h3>

<%= render :partial => "carousel" %>

<h4>Top Rated Games</h4>

<p class = 'console-description'> The Playstation 3 is the successor to the Playstation 2. As part of the 7th generation of gaming, it competed with the Nintendo
Wii and Xbox 360. Released in the US on November 17, 2006, it is the first video game console to utilize Blu-ray Disc as its primary storage medium. As of 2014,
more than 80 million units have been sold.</p>

<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_table_body" %>
  
</table>

<div class = 'center'>
  <%= link_to 'All Games', ps3_games_path, :class => 'btn btn-info' %>
</div>

</br>

<div class = 'center'>
  <p>
    <%= link_to 'Consoles', consoles_path, :class => 'btn btn-warning btn-lg active' %>
  </p>
</div>