<% @title = "Playstation 4" %>

<h3>Playstation 4 Games</h3>

<%= render :partial => "carousel" %>
  
<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_table_body" %>
  
</table>

<div class = 'center'>
  <%= link_to 'All Games', ps4_games_path, :class => 'btn btn-info' %>
</div>

</br>

<div class = 'center'>
  <p>
    <%= link_to 'Consoles', consoles_path, :class => 'btn btn-warning btn-lg active' %>
  </p>
</div>