<% @title = "Racing" %>

<h3>Racing Games</h3>

<table class = "console-table">

  <thead>
    <tr>
	  <th id = 'title-id'>Title</th>
	  <th class = 'game-attributes'>Console</th>
	  <th>Release Date</th>
	  <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% Game.where(genre: 'Racing').each do |game| %>
    <tr>
	  <td> <%= link_to "#{game.title}", game %></td>
	  <td> <%= game.console %></td>
	  <td> <%= game.release_date %></td>
	  <td> <%= game.stars %></td>
	  <div>
        <td id = 'actions'><%= link_to 'Show', game, class: 'action' %></td>
        <td id = 'actions'><%= link_to 'Edit', edit_game_path(game), class: 'action' %></td>
        <% if delete_privilege %>
          <td id = 'actions'><%= link_to 'Delete', game, method: :delete, class: 'action' %></td>
        <% end %>
      </div>
	</tr>
	<% end %>
  </tbody>

</table>

<div class = 'center'>
  <p>We found <%= pluralize(Game.where(genre: 'Racing').count, 'Racing game') %></p>
  <p>
    <a href="/genres" class="btn btn-warning btn-lg active" role="button">Genres</a>
  </p>
</div>