<% @title = "RPG" %>

<h3>RPG Games</h3>

<table class = "console-table">

  <thead>
    <tr>
	  <th id = 'title-id'>Title</th>
	  <th class = 'game-attributes'>Console</th>
	  <th>Release Date</th>
	  <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% Game.where(genre: 'RPG').each do |game| %>
    <tr>
	  <td> <%= link_to "#{game.title}", game %></td>
	  <td> <%= game.console %></td>
	  <td> <%= game.release_date %></td>
	  <td> <%= game.stars %></td>
	</tr>
	<% end %>
  </tbody>

</table>

<div class = 'center'>
  <p>We found <%= pluralize(Game.where(genre: 'RPG').count, 'RPG game') %></p>
  <p>
    <a href="/genres" class="btn btn-warning btn-lg active" role="button">Genres</a>
  </p>
</div>