<% @title = "Select a Console" %>

<h1>Select a console</h1>

<p class = 'center'> You can then find games for that console</p>

<div class = 'console-selection'>
  <div class = 'center'>
    <p class = 'marker'>Nintendo</p>
    <%= link_to 'NES', nes_path, :class => "btn btn-success btn-large" %>
    <%= link_to 'SNES', snes_path, :class => "btn btn-success btn-large" %>
    <%= link_to 'N64', n64_path, :class => "btn btn-success btn-large" %>
    <%= link_to 'Wii', wii_path, :class => "btn btn-success btn-large" %>
    <%= link_to 'Wii U', wii_u_path, :class => "btn btn-success btn-large" %>
  </div>

  <div class = 'center'> 
    <p class = 'marker'>Sony</p>
    <%= link_to 'PS', ps_path, :class => "btn btn-success btn-large" %>
    <%= link_to 'PS2', ps2_path, :class => "btn btn-success btn-large" %>
    <%= link_to 'PS3', ps3_path, :class => "btn btn-success btn-large" %>
    <%= link_to 'PS4', ps4_path, :class => "btn btn-success btn-large" %>
    <%= link_to 'Vita', vita_path, :class => "btn btn-success btn-large" %>
  </div>
 
  <div class = 'center'>
    <p class = 'marker'>Microsoft</p>
    <%= link_to 'Xbox', xbox_path, :class => "btn btn-success btn-large" %>
    <%= link_to 'Xbox 360', xbox360_path, :class => "btn btn-success btn-large" %>
    <%= link_to 'Xbox One', xbox_one_path, :class => "btn btn-success btn-large" %>
    <%= link_to 'PC', pc_path, :class => "btn btn-success btn-large" %>
  </div>

  <div class = 'center'> 
    <p class = 'marker'>Other Consoles</p>
    <%= link_to 'Atari', atari_path, :class => "btn btn-success btn-large" %>
    <%= link_to 'Dreamcast', dreamcast_path, :class => "btn btn-success btn-large" %>
    <%= link_to 'IOS', ios_path, :class => "btn btn-success btn-large" %>
    <%= link_to 'Other', other_path, :class => "btn btn-success btn-large" %>
  </div>
</div>
</br>

<p class = 'center'> <%= link_to 'Index', games_path, :class => "btn btn-info btn-large" %></p>
