<% @title = "#{@game.title}" %>

<h4>Game Information</h4>

  <ul class = 'game-information'>
    <li><strong>Title:</strong> <%= @game.title %></li>
    <li><strong>Console:</strong> <%= @game.console %></li>
    <li><strong>Genre:</strong> <%= @game.genre %></li>
    <li><strong>Release Date:</strong> <%= @game.release_date %></li><br>
    <li><strong>Rating:</strong> <%= pluralize(@game.rating, 'Star') %></li>
    <li><strong>Favorited:</strong> By <%= pluralize(@game.users.count, 'User') %></li></br>
  </ul>

  <div class = 'game-information'>
    <% if @game.rating > 4 %>
  
      <button class = 'top-game'>Top Game</button>
  
    <% end %>
	
  </div>
  
<% if signed_in? %>

  <%= form_for @game do |f| %>

    <div class = 'game-information'>
      <p>
        <%= f.label :stars, 'Rating' %>
        <div class= "rating">
          1 &#9734;<%= f.radio_button :stars, '1' %>
          2 &#9734;<%= f.radio_button :stars, '2' %>
          3 &#9734;<%= f.radio_button :stars, '3' %>
          4 &#9734;<%= f.radio_button :stars, '4' %>
          5 &#9734;<%= f.radio_button :stars, '5' %>
	    </div>
      </p>
	  
	  <% if (@game.release_date.length > 4) && (@game.release_date.split(/[\/]/).rotate(-1).join('/').to_date < Time.now) %>
	  
        <p><input class="btn btn-success" type="submit" value="Rate"></p>
	  <% end %>
	  
    </div>
  
  <% end %>]

<% end %>
  
<div class = 'game-information'>
  <p>
    <%= link_to 'Reviews', game_reviews_path(@game), :class => "btn btn-info" %>
  </p>

  <p class = 'marker'> Description</p>
</div>  
  <p class = 'game-description'><%= @game.description %></p>

<div class = 'game-information'>
  <p><%= link_to 'Index', games_path, :class => "btn btn-info" %></p>
</div>
