<% @title = "#{@game.title}" %>

<h4 class = 'indent'>Game Information</h4>
<ul id = 'view'>
  <li><strong>Title:</strong> <%= @game.title %></li>
  <li><strong>Console:</strong> <%= @game.console %></li>
  <li><strong>Genre:</strong> <%= @game.genre %></li>
  <li><strong>Release Date:</strong> <%= @game.released_on %></li><br>
  <li><strong>Rating:</strong> <%= @game.stars %> Stars</li>
  <li><strong>Favorited:</strong></li></br>
</ul>

<p class = 'indent'>
  <input class="btn btn-info" type="submit" value="Favorites">
</p>

<%= form_for @game do |f| %>

<p>
  <%= f.label :reviewed, 'Review Game', class: 'indent' %>
  <%= f.text_area :reviewed, size: '4 x 6', class: 'indent' %>
</p>

<p>
  <%= f.label :stars, 'Rating', class: 'indent' %>
  <div class= "rating">
    1 &#9734; <%= f.radio_button :stars, '1' %>
    2 &#9734;<%= f.radio_button :stars, '2' %>
    3 &#9734;<%= f.radio_button :stars, '3' %>
    4 &#9734;<%= f.radio_button :stars, '4' %>
    5 &#9734;<%= f.radio_button :stars, '5' %>
  </div>
</p>

<p class = 'indent'>
  <input class="btn btn-info" type="submit" value="Review">
</p>

<% end %>

<p class = 'indent'>
  <a class="btn btn-info" href="/games" role="button">Back</a>
</p>