<% @title = "Super Nintendo" %>

<% content_for :meta do %>
  <meta name="description" content="Highest Rated SNES Games">
<% end %>

<h3>Super Nintendo Games</h3>

<%= render :partial => "carousel" %>

<p class = 'console-description'> The Super Nintendo is Nintendo's second home video game console and the successor to the NES. Released in North America
on August 23, 1991, it is the best selling console of the 16-bit era. It's competition was the Sega Genesis.</p>

<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_table_body" %>
  
</table>

<div class = 'center'>
  <%= link_to 'All Games', snes_games_path, :class => 'btn btn-info' %>
</div>

</br>

<div class = 'center'>
  <p>
    <%= link_to 'Consoles', consoles_path, :class => 'btn btn-warning btn-lg active' %>
  </p>
</div>