<% @title = "Xbox One" %>

<% content_for :meta do %>
  <meta name="description" content="Top Rated Xbox One Games, Newest Releases, and Upcoming titles.">
<% end %>

<h3>Xbox One Games</h3>

<%= render :partial => "carousel" %>

<p class = 'console-description'> The Xbox One is Microsoft's Eighth Generation Video Game Console. It is the successor to the Xbox 360 and 
directly rivals the Playstation 4 of Sony, and Nintendo's Wii U. It was released in America on November 22, 2013. Described as an all-in-one entertainment
system, Xbox One supports entertainment integration. An upgraded Kinect Motion Sensing peripheral was added to Xbox One. New features to Xbox One include
improved Kinect functionality, the ability to record games and live streaming gameplay.</p>

<h4>Top Rated Games</h4>

<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_table_body" %>
  
</table>

<h4>Newest Releases</h4>

<table class = "console-table">
  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_updates" %>
</table>

<h4>Upcoming Games</h4>

<table class = "console-table">
  <%= render :partial => "console_table_head" %>
  <%= render :partial => "upcoming_table_head" %>
</table>

<div class = 'center'>
  <%= link_to 'All Games', xbox_one_games_path, :class => 'btn btn-info' %>
</div>

</br>

<div class = 'center'>
  <p>
    <%= link_to 'Consoles', consoles_path, :class => 'btn btn-warning btn-lg active' %>
  </p>
</div>