<% @title = "Xbox" %>

<% content_for :meta do %>
  <meta name="description" content="Top Rated Xbox Games">
<% end %>

<h3>Xbox Games</h3>

<%= render :partial => "carousel" %>

<h4>Top Rated Games</h4>
 
<table class = "console-table margin-auto">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_table_body" %>
  
</table>

<p class = 'text-center'>
  <%= link_to 'All Games', xbox_games_path, :class => 'btn btn-info' %>
</p>

</br>

<p class = 'text-center'>
    <%= link_to 'Consoles', consoles_path, :class => 'btn btn-warning btn-lg active' %>
</p>