<% @title = "Xbox One Games" %>

<% content_for :meta do %>
  <meta name="description" content="All Xbox One Games">
<% end %>

<h3>All Xbox One Games</h3>

<%= render :partial => "pagination_console_header" %>
<%= will_paginate (@g) %>

<table class = "console-table margin-auto">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "new_console_body" %>
  
</table>

<%= will_paginate (@g) %>

<div class = 'center'>
  <p>We found <%= pluralize(Game.where(console: 'Xbox One').count, 'Xbox One game') %></p>
  <p>
    <%= link_to 'Xbox One Home', xbox_one_path, :class => 'btn btn-info btn-lg active' %>
  </p>
</div>