<% @title = "Xbox 360" %>

<% content_for :meta do %>
  <meta name="description" content="Top Rated Xbox 360 Games">
<% end %>

<h3>Xbox 360 Games</h3>

<%= render :partial => "carousel" %>

<p class = 'console-description'> The Xbox 360 is Microsoft's second video game console and the success to the Microsoft Xbox. Released on November 22, 2005,
and with 84 million units sold, the Xbox 360 is the sixth best selling video game console of all time. It is known for its influence on online gaming following
the integration of the highly successful Xbox Live feature.</p>

<h4>Top Rated Games</h4>

<table class = "console-table margin-auto">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_table_body" %>
  
</table>

<p class = 'text-center'>
  <%= link_to 'All Games', xbox360_games_path, :class => 'btn btn-info' %>
</p>

</br>

<p class = 'text-center'>
  <%= link_to 'Consoles', consoles_path, :class => 'btn btn-warning btn-lg active' %>
</p>